

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


* {
  /* height: 100%; */
  background-color: #282c34;
}

.body {
  background-color: #282c34;
  height: '100vh';
  margin-top: -40px;
  padding: 50px;
}

.title {
  color: white;
  text-align: center;
  /* height: 5%; */
}

.subHeader {
  border: 1px solid pink;
  display: grid;
  padding: 10px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* height: 7%; */
}

.h2 {
  font-size: large;
  color: purple;
}

.h4{
  color: white;
}

.contentBody {
  margin-top: 10px;
   border: 1.5px dashed green;
}

.contentParent{
  display: grid;
  padding: 10px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}